.body {
  background-color: black;
  background-size: cover;
}

.topmenu.menu {
  margin-left: 170px;
  margin-right: 170px;
}

.middlemenu-background {
  background: url("https://puu.sh/IKX8e/0f8104569e.png") no-repeat center center fixed;
  background-size: cover;
  height: 800px;
}

.ui.circular.button > .middlemenu-background {
  color: #1ed760;

}

.footer.background {
  background-color: black;
  color: white;
  font-size: small;
  padding-top: 100px;
  padding-bottom: 80px;
}

.instagram.icon {
  color: white;
}

.twitter.icon {
  color: white;
}

.facebook.icon {
  color: white;
}

.ui.circular.icon.button {
  background-color: grey;

}

